/* ready for styling */

    /*------------------------
    web fonts
    --------------------------*/
    @import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
    /* ---------------------------- */

  :root { 
    --daffodil: #ffeb34;
    font-family: sans-serif;
  }
  body {
    text-align: center;
  }

  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* pointer-events: none; */
    width: 100%;
    height: 100vh;
  }
  .container-fluid {
    /* display: flex; */
    flex-direction: row;
   align-content: center;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left:7em;
    color: #c18127;
    font-size: 2rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
  .box-checkout {
    color: black;
    font-family: 'Hammersmith One', sans-serif;
  }
  .modal-header {
    color: black;
    font-family: 'Hammersmith One', sans-serif;
  }
  .checkout-btn {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    background-color: green;
  }

  .description h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .description h5 {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  
  * {
    box-sizing: border-box;
  }
  
  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* pointer-events: none; */
    width: 75%;
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left: 1em;
    color: #c18127;
    font-size: 1rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
}



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* pointer-events: none; */
    width: 75%;
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left: 1em;
    color: #c18127;
    font-size: 1rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* pointer-events: none; */
    width: 75%;
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left: 1em;
    color: #c18127;
    font-size: 1rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* pointer-events: none; */
    width: 100vw;
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left: 1em;
    color: #c18127;
    font-size: 1rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* pointer-events: none; */
    width: 100%;
    height: 100vh;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    background-color: var(--daffodil);
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    padding: 0em;
  }
  #basic-navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Hammersmith One', sans-serif;
    margin: 1em;
    padding: 0em;
  }
  #custom-navlink {
    margin-left: 1em;
    color: #c18127;
    font-size: 1rem;
  }
  #form-navlink {
    margin-left:1em;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
  }
  #custom-navlink:hover {
    color: #000000;
    cursor: pointer;
  }
}